<h2>Set Display Name</h2>
<body>
<form action="/setdisplay" method = "post">
  <label for="url">Set your display name</label><br>
  <input type="text" id="title" name="newName" value = "Title"><br>
  <input type="submit" value="Set Name">
</form>
<br></br>
<a href=/>HomePage</a>
</body>