<h2>See Background</h2>
<body>
<table>
<tbody>
<thead>
<td>ChosenColor (will update to change background color later)</td>
</thead>
    {{#each movie}}
<tr>
<td>{{this.backGround}}</td>
</tr>
    {{/each}}
</tbody>
</table>
</body>