<!DOCTYPE html>
<head>
<body>
	<div>
		<h1>Connect the Stars</h1>
		  {{#if movie}}
                        <a href=/profile>Check Your Stats!</a>
                      {{else}}
                       <a href=/login>Login</a>
					   <a href=/register>Register</a>
                      {{/if}}
<form action="/gamepage" method = "get" class="gameb">
  <label for="url">Play the Game!</label><br>
  <input type="submit" value="Play!">
</form>

	</div>
</body>
</head>
</html>
