<h2>LOGIN</h2>
<body>
<form action="/login" method = "POST">
  <label for="url">Login</label><br>
  <input type="text" id="title" name="username" value = "username"><br>
  <input type="text" id="title" name="password" value = "password"><br>  
  <input type="submit" name="action" value="login">

</form>
<a href=/>HomePage</a>
</body>