<h2>REGISTER</h2>
<body>
<form action="/register" method = "POST">
  <label for="url">Register</label><br>
  <input type="text" id="title" name="username" value = "username"><br>
  <input type="text" id="title" name="password" value = "password"><br>  
  <input type="submit" name="action" value="register">

</form>

<a href=/>HomePage</a>
</body>