<h2>Set Color</h2>
<body>
<form action="/setbackground" method = "post">
  <input type="radio" id="White" name="color" value="White">
  <label for="White">White</label><br>
  <input type="radio" id="Green" name="color" value="Green">
  <label for="Green">Green</label><br>
  <input type="radio" id="Blue" name="color" value="Blue">
  <label for="Blue">Blue</label>
  <input type="radio" id="Gray" name="color" value="Gray">
  <label for="Gray">Gray</label>
  <input type="radio" id="Yellow" name="color" value="Yellow">
  <label for="Yellow">Yellow</label>
  <input type="submit" value="Change Color">
</form>
<br></br>
<a href=/viewstats>Check Your Stats!</a>
</body>