<h2>Add UserName</h2>
<body>
<form action="/setdisplay" method = "post">
  <label for="url">Set your display name</label><br>
  <input type="text" id="title" name="newName" value = "Title"><br>
  <input type="submit" value="Add Movie">
</form>
<br></br>
<a href=/viewstats>Check Your Stats!</a>
</body>