<!DOCTYPE html>
              <html>
              <head>
              <link rel="stylesheet" type = "text/css" href="../css/main.css"/>
              </head>
              <head>
                  <title> Movie Table</title>
              </head>
             <body>
                 {{{body}}}
             </body>
              </html>